<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{module.name}} Report Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list-header>
    <ion-label>{{module.name}} Details</ion-label>
  </ion-list-header>

  <ion-item lines="none">
    <ion-label color="medium" position="stacked">Date of {{module.name}}:</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" placeholder=" / / " [(ngModel)]="report.date">
    </ion-datetime>
  </ion-item>

 <!--  <ion-item lines="none">
    <ion-label color="primary" position="stacked">Date of {{module.date}}:</ion-label>
    <ion-input placeholder=" / /" type="date"></ion-input>
  </ion-item> -->

  <ion-item lines="none">
    <ion-label color="medium" position="stacked">Type of {{module.name}}:</ion-label>
    <ion-select [(ngModel)]="report.type">
      <ion-item-option value="document">Document</ion-item-option>
      <ion-item-option value="media">Media</ion-item-option>
    </ion-select>
  </ion-item>

  <ion-item lines="none">
    <ion-label color="medium" position="stacked">Site:</ion-label>
    <ion-select [(ngModel)]="report.type">
      <ion-item-option value="document">Document</ion-item-option>
      <ion-item-option value="media">Media</ion-item-option>
    </ion-select>
  </ion-item>

  <ion-item lines="none">
    <ion-label color="medium" position="stacked">{{module.name}} Severity:</ion-label>
    <ion-select [(ngModel)]="report.type">
      <ion-item-option value="document">Document</ion-item-option>
      <ion-item-option value="media">Media</ion-item-option>
    </ion-select>
  </ion-item>

<!--   <ion-item>
    <ion-label color="primary" position="stacked">Time of {{module.name}}:</ion-label>
    <ion-datetime displayFormat="HH:mm A" placeholder="HH:mm A" [(ngModel)]="report.time">
    </ion-datetime>
  </ion-item> -->

 	<ion-item lines="none">
    <ion-label color="medium" position="stacked">Location:</ion-label>
    <ion-input type="string"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label color="medium" position="stacked">Description of {{module.name}}:</ion-label>
    <ion-textarea placeholder="Description" [(ngModel)]="report.description">
    </ion-textarea>
  </ion-item>

  <ion-list-header>
    <ion-label>Injured Worker</ion-label>
  </ion-list-header>


<!--   <div class="button-div">
    <ion-button icon-start class="module-btn" color="success" (click)="onAddPhoto();">
      <ion-icon padding-right class="btn-icon" name="camera"></ion-icon>
      Add Photo
    </ion-button>
  </div>

  <img class="image" [src]="report.imageUri" *ngIf="report.imageUri != ''"/> -->

  <div class="button-div">
    <ion-button icon-start class="module-btn" color="success" (click)="onSave();">
      <ion-icon padding-right class="btn-icon" name="clipboard"></ion-icon>
      Save
    </ion-button>
    <ion-button icon-start class="module-btn" color="danger" (click)="onCancel();">
      <ion-icon padding-right class="btn-icon" name="close-circle"></ion-icon>
      Cancel
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
  	<div class="footer-wrap">
	    <ion-button color="light" size="large" fill="clear" (click)="navigateToAddAction()">
	      <ion-icon color="success" name="build"></ion-icon>
	    </ion-button>
	    <ion-button color="light" size="large" fill="clear" (click)="navigateToAttachmentOrUpload()">
	      <ion-icon color="success" name="attach"></ion-icon>
	    </ion-button>
	    <ion-button color="light" size="large" fill="clear" (click)="navigateToAddComment()">
	      <ion-icon color="success" name="chatboxes"></ion-icon>
	    </ion-button>
	  </div>
  </ion-toolbar>
</ion-footer>
