// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-label {
  margin-bottom: 0.5rem !important;
}

ion-select,
ion-datetime,
ion-input,
ion-textarea {
  padding: 10px !important;
  border: solid 1px var(--ion-color-medium);
}

ion-input input {
  padding: 10px !important;
}
